@import '../../variables.scss/';


.ButtonGroup{
    display: flex;
    align-items: center;
    justify-content: center;
    height:auto;
    width:auto;
    %BaseButton{
        position: relative;
        
        border:none;
        border-radius: 5rem;
        svg{
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-50%,-50%);
        }
    }
    .Primary{
        @extend %BaseButton;
        height:38px;
        width:38px;
        background-color: $orange;
        position: relative;
        z-index:6;

        cursor:pointer;
        &:hover{
            transform: scale(1.05);
        }
    }
    .SecondaryWrapper{
        height:100%;
        width:100%;
        z-index:5;
        position: absolute;
    }
    .Secondary{
        @extend %BaseButton;
        height:32px;
        width:32px;
        background-color: $yellowOrange;

        position: absolute;
        top:3px;
        left:3px;
        cursor:pointer;
    }
}

.Overlay{
    height:100vh;
    width:100vw;
    background: rgba(black,.35);
    z-index:3;
    position:fixed;
    top:0;
    left:0;
}