@import '../../variables.scss/';


.ButtonGroup{
    display: inline-block;
    height:auto;
    width:auto;
    border:1px solid blue;
    %BaseButton{
        position: relative;
        
        border:none;
        border-radius: 5rem;
        svg{
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-50%,-50%);
        }
    }
    .Primary{
        @extend %BaseButton;
        height:38px;
        width:38px;
        background-color: $orange;
        position: relative;
        cursor:pointer;
        &:hover{
            transform: scale(1.05);
        }
    }
    .Secondary{
        @extend %BaseButton;
        height:32px;
        width:32px;
        background-color: $yellowOrange;
        
        position: absolute;
        top:3px;
        left:3px;
        transform: rotate(calc(var(--angle) * 1deg)) translate(var(--distance)) rotate(calc(var(--angle) * -1deg));
    }
    // .Wrapper{
    //     display: block;
    //     height:auto;
    //     width:auto;
    //     position: absolute;
    //     top:2px;
    //     left:2px;

    //     border:1px solid red;
    //     transform: rotate(calc(var(--angle) * 1deg)) translate(var(--distance)) rotate(calc(var(--angle) * -1deg));

    // }
}