@import '../../variables.scss/';
@import 'Task.module.scss';
.Wrapper{
    height:auto;
    width:auto;
    background: linear-gradient(to right,
        rgba(243, 66, 66,.5),
        $darkGray 90%
    );
}
.Entry {
    @extend .Task;
    background-color: $darkGray;
    .Checkbox{
        border-color: rgba(white,.4);
    }
    .LeftColor{
        background-color: rgba(white,.4);
        width: 10px;
        cursor:pointer;
    }
    .Link{
        cursor: pointer;
    }

    .TaskName{
        background: none;
        border:none;
        padding-bottom:3px;
        border-bottom: 1px solid rgba(white,1);
        box-sizing:content-box;
        margin-bottom:-3.5px;
        transition: border-bottom .25s linear;
        &:placeholder-shown{
            border-bottom: 1px solid $lightGray;
        }
        &:focus{
            border-bottom: 1px solid rgba($orange,1);
        }
    }

    // BUTTON TASK TIME
    .TaskTime{
        background: none;
        border:1px solid $lightGray;
        text-align: center;
        font-size:8px;
        width:45px;
        border-radius:5rem;
        margin-right:-7.5px;
        cursor:pointer;
        position: relative;
        overflow: hidden;

        transition: border .2s ease-out;

        .TaskTimeSet{
            height:100%;
            width:100%;
            background-color: $orange;
            position: absolute;
            top:0;
            left:0;
            opacity:0;
            transition: opacity .25s ease-out;

        }

        &:hover{
            border: 1px solid $orange;
            .TaskTimeSet{
                opacity: 1;
            }
        }
    }
}

.EntryButton{
    @extend %TaskButton;
    background: none;
    border: 1px solid $lightGray;

    transition: border .25s ease-out, background .25s ease-out;
    
    transition-delay:.3s;
    svg{
        opacity:0;
        transition: opacity .25s ease-out;
        transition-delay:0s;
    }
    &:hover{
        border: 1px solid $green;
        background: $green;
        
        transition-delay:0s;
        svg{
            opacity:1;
            transition-delay:.3s;
        }
    }

}